@import '../../../../assets/scss/var';

.passShow {
    cursor: pointer;
}

.registerSuccess {
    background: #88af5b !important;
}
.registerError {
    background: #F44336 !important;
}
.registerWorn {
    background: #3F51B5 !important;
}
.userRegisteration {
    background: white;
}